html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

.bottom-buffer {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .custom-small-height {
        height: 300px;
    }
}

@media (min-width: 769px) {
    .custom-small-height {
        width: 100%;
        max-height: 400px;
        object-fit: contain;
    }
}